{% extends 'temp/base.html' %}

{% block content %}

<body>
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4 container-sm" style="margin-top: 100px;">
            <form action="" method="post">
                
                <div class="form-header">
                    <h3>Export Pdf</h3>
                </div>
               
                <br>
                <button class="btn btn "  style="border-color: black;" type="submit"><a href="{% url 'data_to_pdf' %}">Export PDF</a></button>
                </a>
            </form>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</body>

{% endblock %}