{% extends 'temp/base.html' %}

{% block content %}


<div class="row ">


    <div class="col-sm-4 ">
    </div>

    <div class="col-sm-4 border bg-sucsess justy bg-dark " style="margin-top: 200px; width: 400px; height: 100px; padding: 10px;">


        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="csv_file">
            <input type="submit" value="Upload">
          </form>
    </div>

    <div class="col-sm-4">
    </div>


</div>
{% endblock %}