{% extends 'temp/base.html' %}
{% block content %} 
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Login Page</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
  

</head>

<body class="text-danger">

    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4 container-sm bg-dark" style="margin-top: 100px; background-image:  url('/home/simprosys-aman/Aman/Aman/bac.jpg');">
            <form id="loginform" method="post">
                {% csrf_token %}
                <div class="form-header">
                    <h3>Login</h3>
                </div>
                <div class="form-group">
                    <label for="">Username:</label>
                    <input type="text" class="form-control" data-validation="length alphanumeric"
                        data-validation-length="3-12" name="username" placeholder="Enter your username" >
                </div>
                
                <div class="form-group">
                    <label for="">Password:</label>
                    <input type="password" class="form-control" data-validation="length alphanumeric"
                        data-validation-length="3-12" name="password" placeholder="Enter your password" >
                </div>
                <br>
                <button class="btn btn-danger " style="border-color: black;" type="submit">Login</button>
                </a>
            </form>
            <div id="result"></div>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</body>
</html>
{% endblock %}