<!DOCTYPE html>
<html>
<head>
    <title>My PDF</title>
</head>
<body>
    <h1>My Data:</h1>
    <ul>

        <table class="table">
            <thead>
                
              <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Title</th>
                <th scope="col">Vendor</th>
                <th scope="col">Type</th>
              </tr>
              
            </thead>
            <tbody>
                {% for item in Products %}
              <tr>
                <th scope="row">{{item.id}}</th>
                <td>{{item.Title}}</td>
                <td>{{item.Vendor}}</td>
                <td>{{item.Type}}</td>
              </tr>
              {% endfor %}
              
            </tbody>
          </table>
    </ul>
</body>
</html>